html[data-theme="light"] {
    --global-theme-color: #0076df;
    --global-hover-color: #005bb0;
}

html[data-theme="dark"] {
    --global-theme-color: #11d68b !important;
    --global-hover-color: #0da86c !important;
}